---
tags: resume
title: Experience
---

{%- for exp in collections.experience | reverse -%}
  <div class="experience-section">
    <h3
      id="{{ exp.data.title | slug }}"
    >
      {{ exp.data.title }}
    </h3>
    <address>{{ exp.data.location}}</address>
    {% daterange exp.data.startDate, exp.data.endDate %}
    {{ exp.templateContent | safe }}
    <div class="experience-section__tech-stack">
      <h4>Stack</h4>
      <ul>
        {%- for item in exp.data.stack -%}
          <li>{{ item }}</li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
{%- endfor -%}
