---
tags: resume
title: Experience
date: '2002'
---

{%- for exp in collections.experience | reverse -%}
  <div class="experience-section">
    <div class="experience-section__header">
      <h3
        id="{{ exp.data.title | slug }}"
      >
        {{ exp.data.title }}
      </h3>
      {% daterange exp.data.startDate, exp.data.endDate %}
      <address>{{ exp.data.location}}</address>
    </div>
    <div class="experience-section__content">
      {{ exp.templateContent | safe }}
    </div>
    <div class="experience-section__tech-stack">
      <h4>Technologies</h4>
      <ul>
        {%- for item in exp.data.stack -%}
          <li>{{ item }}</li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
{%- endfor -%}
