---
title: Chris Pruyne
subtitle: Software Engineer
layout: layouts/resume.11ty.tsx
permalink: /resume/
---
{% for section in collections.resume %}
  <div class="resume__section">
    <h2 id="{{ section.data.title | slug }}">{{ section.data.title }}</h2>
    {{ section.templateContent | safe }}
  </div>
{% endfor %}
