---
title: Chris Pruyne
subtitle: Software Engineer
layout: layouts/resume.11ty.tsx
permalink: /resume/
---
{% for section in collections.resume %}
  <div class="resume__section">
    <h2
      id="{{ section.data.title | slug }}"
    >
      {{ section.data.title }}
      <a href="#{{ section.data.title | slug }}">
        <i class="fa-fw fa-lg fa-light fa-hashtag"></i>
      </a>
    </h2>
    {{ section.templateContent | safe }}
  </div>
{% endfor %}
