:root {
  --bg-color: 254, 254, 254;
  --text-color: 36, 36, 36;
  --link-color: 12, 123, 321;
}

@media print {
  --bg-color: 255, 255, 255;
  --text-color: 36, 36, 36;
}

[data-theme="dark"] {
  --bg-color: 36, 36, 36;
  --text-color: 254, 254, 254;
}

