{% macro trigger(label, icon, class = '', srOnly = false) %}
  <button data-attribute="toggle" class="{{ class }}">
    {% if icon %}
      <i class="fa-fw fa-light fa-xl fa-{{ icon }}"></i>
    {% endif %}
    <span {% if srOnly %} class="sr-only" {% endif %}>
      {{ label }}
    </span>
  </button>
{% endmacro %}

{% macro content(collections, title = '', class = '') %}
  <div data-attribute="content" class="{{ class }}">
    <h5 class="sr-only">
      {{ title }}
    </h5>
    <nav>
      <ul>
        {% for section in collections.resume %}
          {% set sectionSlug = section.data.title | slug %}
          <li>
            <a href="#{{ section.data.title | slug }}">
              <i class="fa-fw fa-light fa-hashtag fa-sm"></i>
              {{ section.data.title }}
              <i class="fa-fw fa-light fa-right fa-xs"></i>
            </a>
            {%- set subsections = collections[sectionSlug] -%}
            {%- if subsections -%}
              <ul>
                {%- for sub in subsections | reverse -%}
                  <li>
                    <a href="#{{ sub.data.title | slug }}">
                      <i class="fa-fw fa-light fa-hashtag fa-sm"></i>
                      {{ sub.data.title }}
                      <i class="fa-fw fa-light fa-right fa-xs"></i>
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    </nav>
  </div>
{% endmacro %}
