.resume {
  width: 90%;
  margin: 0 auto;
  max-width: 980px;
}

.resume__section:not(:last-child) {
  border-bottom: 1px solid #777;
}

.experience-section:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
