---
title: Chris Pruyne
---

<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    {% set css %}
      {% include 'styles/main.css' %}
    {% endset %}
    <style>
      {{ css }}
    </style>
    <link rel="stylesheet" type="text/css" href="/assets/styles/main.css" />
  </head>
  <body>
    <main id="app">
      {{ content | safe }}
    </main>
    <script type="module" src="/assets/scripts/main.ts"></script>
  </body>
</html>
