<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% set css %}
      {%- include 'styles/variables.css' -%}
      {%- include 'styles/main.css' -%}
    {% endset %}
    <style>
      {{ css }}
    </style>
    <link rel="stylesheet" type="text/css" href="/assets/styles/main.css" />
    <title>{{ title }}</title>
    <script type="module" src="/assets/scripts/main.ts"></script>
    {% block scripts %}{% endblock %}
  </head>
  <body>
    <main id="app">
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </main>
  </body>
</html>
