{% extends "layouts/base.njk" %}

{% block scripts %}
  <script type="module" src="/assets/scripts/resume.ts"></script>
{% endblock %}

{% block content %}
<div class="resume">
  <h1 class="resume__title">
    {{ title }}
    <span>{{ subtitle }}</span>
  </h1>
  <div class="resume__content">
    {{ content | safe }}
  </div>
</div>
{% endblock %}
