---
layout: base.njk
---

{% set toc %}
  {% include 'partials/toc.njk' %}
{% endset %}

<div class="resume">
  <h1 class="resume__title">
    {{ title }}
    <span>{{ subtitle }}</span>
  </h1>
  {{ toc | safe }}
  <div class="resume__content">
    {{ content | safe }}
  </div>
</div>
