---
title: Chris Pruyne
subtitle: Software Engineer
layout: resume.njk
permalink: /resume/
---
{% for section in collections.resume %}
{% set titleSlug = section.data.title | slug %}
  <section class="resume-section {{ titleSlug }}">
    <h2 class="resume-section__title {{ 'sr-only' if titleSlug === 'contact-information' }}" id="{{ section.data.title | slug }}">
      {{ section.data.title }}
      <a href="#{{ section.data.title | slug }}">
        <i class="fa-fw fa-light fa-hashtag"></i>
      </a>
    </h2>
    {{ section.templateContent | safe }}
  </section>
{% endfor %}
