---
title: Experience
order: 2
---

{%- for exp in collections.experience | reverse -%}
  <div class="experience-section">
    <div class="experience-section__header">
      <h3 id="{{ exp.data.title | slug }}">
        {{ exp.data.title }}
        <a href="#{{ exp.data.title | slug }}">
          <i class="fa-fw fa-light fa-sm fa-hashtag"></i>
        </a>
      </h3>
      {% if exp.data.endDate %}
        {% daterange "experience-section__header-time", exp.data.startDate, exp.data.endDate %}
      {% else %}
        Foooooooooooo
      {% endif %}
      <div class="experience-section__header-location">
        <address>
          <i class="fa fa-fw fa-xs fa-location-dot fa-light"></i>
          {{ exp.data.location}}
        </address>
      </div>
    </div>
    <div class="experience-section__content">
      {{ exp.templateContent | safe }}
    </div>
    <div class="experience-section__tech-stack">
      <h4>Technologies</h4>
      <ul>
        {%- for item in exp.data.stack -%}
          <li>{{ item }}</li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
{%- endfor -%}
