---
title: Experience
order: 2
---

{%- for exp in collections.experience | reverse -%}
  <article class="experience-section">
    <header class="experience-section__header">
      <h3 class="experience-section__header-title" id="{{ exp.data.title | slug }}">
        {{ exp.data.title }}
        <a href="#{{ exp.data.title | slug }}">
          <i class="fa-fw fa-light fa-sm fa-hashtag"></i>
        </a>
      </h3>
      {% daterange "experience-section__header-time", exp.data.startDate, exp.data.endDate %}
      <div class="experience-section__header-location">
        <address>
          <i class="fa-sm fa-location-dot fa-light"></i>
          {{ exp.data.location}}
        </address>
      </div>
    </header>
    <div class="experience-section__content">
      {{ exp.templateContent | safe }}
    </div>
    <aside class="experience-section__tech-stack">
      <h4 class="sr-only">Technologies</h4>
      <ul>
        {%- for item in exp.data.stack -%}
          <li>
            <i class="fa-light fa-check fa-sm"></i>
            {{ item }}
          </li>
        {%- endfor -%}
      </ul>
    </aside>
  </article>
{%- endfor -%}
