@import "./resume.css";
@import "./utils.css";
@import "./toolbar.css";
@import "./toggle.css";
@import "./contact.css";
@import "./button.css";

#app {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
