.resume {
  width: 95%;
  margin: 80px auto 0;
  max-width: 960px;
}

.resume__title {
  display: flex;
  flex-direction: column;
  line-height: 1.25;
  border-bottom: 1px solid rgba(var(--text-color), 0.4);
  padding-bottom: 0.25rem;
  margin-bottom: 1rem;
}

.resume__title span {
  font-size: 90%;
  color: rgba(var(--text-color), 0.6);
}

.resume-section:not(.contact-information, :last-child) {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(var(--text-color), 0.4);
}

.resume-section__title {
  position: relative;
}

.resume-section__title:hover a {
  display: inline;
  position: absolute;
}

.resume-section__title a {
  display: none;
}

.experience-section:not(:last-child) {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(var(--text-color), 0.2);
}

.experience-section__title {
  position: relative;
}

.experience-section__title:hover a {
  display: inline;
  position: absolute;
}

.experience-section__title a {
  display: none;
}

@media print,  (min-width: 800px) {
  .resume {
    margin-top: 32px;
    max-width: auto;
  }

  .resume__title {
    flex-direction: row;
    align-items: baseline;
    border-bottom: 0;
  }

  .resume__title span {
    position: relative;
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 2px solid rgba(var(--text-color), 0.6);
  }
}
