/*
.resume {
  width: 90%;
  margin: 24px auto;
  max-width: 980px;
  display: grid;
  grid-template:
    "b"
    "a"
    "c";
}

@media (min-width: 900px) {
  .resume {
    grid-template:
      "a b" auto
      "c c" auto / auto auto;
  }
}

.resume__title {
  margin: 0;
  display: flex;
  align-items: baseline;
  grid-area: a;
  flex-direction: column;
}

.resume__title span {
  color: #aaa;
  font-size: 90%;
  position: relative;
  font-size: 90%;
}

@media print, (min-width: 900px) {
  .resume__title {
    flex-direction: row;
  }

  .resume__title span {
    margin-left: 2rem;
  }

  .resume__title span::before {
    content: "";
    position: absolute;
    left: -1rem;
    width: 2px;
    height: 100%;
    background: #aaa;
  }
}

.resume__toc {
  position: sticky;
  left: 100%;
  top: 40px;
  width: 200px;
  grid-area: b;
  display: flex;
  align-items: center;
  justify-content: end;
}

.resume__toc-header > button + button {
  margin-left: 1rem;
}

.resume__toc-content {
  overflow: hidden;
  position: absolute;
  top: calc(100% + 10px);
  background: #efefef;
  transition: height 200ms ease-in-out;
  box-shadow: 0 1px 5px rgba(11, 11, 11, 0.15);
}

.resume__toc-content ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.resume__toc-content li {
  font-size: 0.9rem;
}

.resume__toc-content a {
  text-decoration: none;
  color: #666;
  display: block;
  padding: 8px;
  background: #efefef;
  transition: background 100ms linear;
}

.resume__toc-content a:hover {
  background: #dedede;
}

.resume__toc-content ul ul a {
  padding-left: 16px;
}

.resume__content {
  grid-area: c;
}

.resume__section:not(:last-child) {
  border-bottom: 1px solid #777;
}

.experience-section:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.experience-section__header {
  position: relative;
  display: grid;
  grid-column-gap: 1ch;
  grid-template:
    "title time" auto
    "address address" auto / auto auto;
}

.experience-section__header h3 {
  grid-area: title;
}

.experience-section__header-time {
  grid-area: time;
}

.experience-section__header-location {
  grid-area: address;
}
 */
