
.resume {
  width: 90%;
  margin: 48px auto 0;
  max-width: 980px;
}

.resume__title {
  margin: 0;
  display: flex;
  align-items: baseline;
}

.resume__title span {
  color: #aaa;
  font-size: 90%;
  position: relative;
  margin-left: 2rem;
}

.resume__title span::before {
  content: "";
  position: absolute;
  left: -1rem;
  width: 2px;
  height: 100%;
  background: #aaa;
}

.resume__toc {
  position: sticky;
  left: 100%;
  top: 40px;
  width: 200px;
}

.resume__toc-content {
  overflow: hidden;
  position: absolute;
  background: #efefef;
  transition: height 200ms ease-in-out;
  box-shadow: 0 1px 5px rgba(11, 11, 11, 0.15);
}

.resume__toc-content ul {
  margin: 0;
  padding: 0 0 0 1rem;
}

.resume__toc-content nav > ul {
  margin: 12px;
}

.resume__toc-content li {
  font-size: 0.9rem;
}

.resume__toc-content a {
  text-decoration: none;
  color: #666;
}

.resume__toc-content a [class*="fa"] {
  transition: transform 200ms linear;
}

.resume__toc-content a:hover [class*="fa"] {
  transform: translateX(4px);
}

.resume__section:not(:last-child) {
  border-bottom: 1px solid #777;
}

.experience-section:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.experience-section__header {
  position: relative;
}
