.toolbar {
  display: flex;
  position: fixed;
  top: 0.75rem;
  right: 0.75rem;
  align-items: center;
  justify-content: flex-end;
  background: rgb(var(--bg-alt-color));
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(var(--shadow-color), 0.15);
  z-index: 1000;
}

.toolbar > *:not(:first-child) {
  margin-left: 0.5rem;
}

.toc-dropdown__content {
  position: absolute;
  z-index: 1000;
  width: 100%;
  top: calc(100% + 0.5rem);
  right: 0;
  overflow: hidden;
  background: rgb(var(--bg-alt-color));
  box-shadow: 0 2px 4px rgba(var(--shadow-color), 0.15);
  transform-origin: 50% 0%;
  transform: scale(1, 0);
  will-change: transform;
}

.toc-dropdown__content nav {
  transform-origin: 50% 0%;
  will-change: transform;
}

.toc-dropdown__content.is-open {
  transform: scale(1, 1);
}

.toc-dropdown__content.is-open nav {
  transform: scale(1, 1);
}

.toc-dropdown__content ul {
  margin: 0;
  padding: 0;
}

.toc-dropdown__content ul ul a {
  padding-left: 2rem;
}

.toc-dropdown__content a {
  text-decoration: none;
  display: block;
  padding: 0.25rem 1rem;
  color: rgb(var(--text-color));
  /* background: rgb(var(--bg-alt-color)); */
  transition: color 200ms linear, background 200ms linear;
}

.toc-dropdown__content a:hover,
.toc-dropdown__content a:active,
.toc-dropdown__content a:focus {
  color: rgba(var(--text-color), 0.9);
  background: rgba(var(--text-color), 0.1);
}

.toc-dropdown__content a .fa-right {
  transition: transform 100ms linear;
  transform: translateX(0rem);
}

.toc-dropdown__content a:hover .fa-right,
.toc-dropdown__content a:active .fa-right,
.toc-dropdown__content a:focus .fa-right {
  transform: translateX(0.25rem);
}
