<label class="theme-toggle" for="theme-toggle">
  <span class="sr-only">Toggle Theme</span>
  <i class="fa-sun fa-light fa-fw fa-lg"></i>
  <input class="theme-toggle__input" id="theme-toggle" type="checkbox"></input>
  <span class="theme-toggle__faux-input"></span>
  <i class="fa-moon fa-light fa-fw fa-lg"></i>
</label>
